
data/video/cam_7_S_video_20210310_120402.h264.avi
checkpoints/custom-416/variables/variables.data-00000-of-00001
checkpoints/custom-416/saved_model.pb
checkpoints/custom-416/variables/variables.index
